<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client service for Authorization Code Grant Type</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <style>
        body {
            padding-top: 60px;
        }
        .navbar-inverse {
            background-color: #223;
        }
    </style>
</head>
<body class="py-1" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid mx-5">
        <p class="navbar-brand text-warning mx-5 my-0" >Microservice Security: <span class="badge badge-light">OAuth Client - Authorization Code</span></p>
    </div>

</nav>
<div class="container col-sm-6 my-5">
    <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
    <!--/*@thymesVar id="errorMessage" type=""*/-->
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a href="index.html" th:href="@{/index}">Back to Home Page</a>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>





